{% extends 'base.html' %}

{% block content %}
<div class="my-4">
    <h2>Child List</h2>
    <div class="my-4">
        <a href="{% url 'create_child' %}" class="btn btn-info">Add New Child</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Child's Name</th>
            <th>Parent's Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for child in children %}
        <tr>
            <td>{{ child.first_name }} {{ child.last_name }}</td>
            <td>{{ child.parent.first_name }} {{ child.parent.last_name }}</td>
            <td>
                <a href="{% url 'update_child' child_id=child.id %}" class="btn btn-primary btn-sm">Edit</a>
                <a href="{% url 'delete_child' child_id=child.id %}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No children found.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
